<div class="content" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutGap="16px">
  <md-card fxFlex="80">
    <adf-login
      [providers]="'ECM'"
      [copyrightText]="'© 2017 Alfresco Training.'"
      [showRememberMe]="false"
      [showLoginActions]="false"
      [backgroundImageUrl]="'http://nothing'"
      (onSuccess)="onLoginSuccess($event)"
      (onError)="onLoginError($event)">
      <login-header><ng-template>Welcome to Workbench-X, please login</ng-template></login-header>
      <login-footer><ng-template>This will log you into both Alfresco Content Services (ACS) and Alfresco Process Services (APS). These servers need to be running locally</ng-template></login-footer>
    </adf-login>
  </md-card>
</div>
